<html>
    <head>
       <title>Form Test Index</title>
    </head>
    <body>
        <h1>Enter a Valid(Any) Name!</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
      <form action='/process' method='post'>
            Your Name: <input type='text' name='name'>
            Dojo Location:<select name='location'>
                <option value="Dallas">Dallas</option>
                <option value="Seattle">Seattle</option>
                <option value="Sanfrancisco">Sanfrancisco</option>
            </select>
            Favorite Language: <input type = 'text' name = 'language'>
            <input type='submit' value='submit'>
      </form>
    </body>
</html>