<html>
    <head>
       <title>Default</title>
    </head>
    <body>
        
        <h1> Ninjas! </h1> 
        <img src="{{ url_for('static', filename='donatello.JPG') }}" style="width:304px;height:228px;">
        <img src="{{ url_for('static', filename='leonardo.JPG') }}" style="width:304px;height:228px;">
        <img src="{{ url_for('static', filename='michelangelo.JPG') }}" style="width:304px;height:228px;">
        <img src="{{ url_for('static', filename='raphael.JPG') }}" style="width:304px;height:228px;">
        
    </body>
</html>